name: Dump Zotero Group as TEI/XML

on:
  schedule:
  - cron: "28 4 * * *"
  workflow_dispatch:

jobs:
  download:
    name: dump baserow
    runs-on: ubuntu-latest
    env:
      ZOTERO_API_KEY: ${{ secrets.ZOTERO_API_KEY }}
      ZOTERO_USER_ID: ${{ secrets.ZOTERO_USER_ID }}
      ZOTERO_COLLECTION_ID: 5701116
    steps:
      - name: checkout repo
        uses: actions/checkout@v6
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: dump the data
        run: uv run dump_from_zotero.py
      - name: Commit data
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Data update from Zotero